extends layout

block content
  
  h1 Books
  h1 #{items} Books
  - let firstItem = page * 10 - 10
  - let lastItem = firstItem + 10
    
    a.button(href="/books/new") Create New Book
  if page === 1
    p
    a.button(href="/page/2") Next Page
  else
    p
    a.button(href="/") Prev Page
  p
  form(method="post" action="/" )
    input(type="text" name="searchTerm" placeholder="Search...")
    input.searchButton(type="submit" value="Search")

  table
    thead 
      th Title
      th Author 
      th Genre 
      th Year 
    tbody 
    each book in books
      tr  
        if book.id > firstItem && book.id <= lastItem 
          td 
            a(href="/books/"+(book.id)) #{book.title}
          td #{book.author}
          td #{book.genre}
          td #{book.year}
        